body {
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  font-size: 160%;
  font-weight: bolder;
}

.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
  font-size: 102%;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
}

.cancel {
  background-color: white;
}

.button {
  font-size: 20px;
}

.text .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 74.5%;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
